<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <provider
      android:name="expo.modules.tempoloopmedia.MediaFixtureContentProvider"
      android:authorities="expo.modules.tempoloopmedia.instrumentation.fixtures"
      android:exported="true"
      android:grantUriPermissions="true" />
  </application>
</manifest>
